.task-feed-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--deep-sea-blue);
    justify-content: space-between;
    padding: 1rem;
    
  }
  
  .task-feed-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--dandelion-yellow);
  }
  
  .task-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    background-color: var(--dandelion-yellow);
    padding: 1rem;
  }
  